{% extends "layout.html" %}
{% block title %}
    Cambiar Contraseña
{% endblock %}
{% block content %}

<h1 class="text-2xl font-bold mb-4">Cambiar Contraseña</h1>

<form action="{{ url_for('auth.cambiar_contrasena') }}" method="POST" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
  
  <div class="mb-4">
    <label for="nueva_contrasena" class="block text-gray-700 text-sm font-bold mb-2">Nueva Contraseña:</label>
    <input type="password" name="nueva_contrasena" id="nueva_contrasena" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" required>
  </div>
  
  <div class="mb-4">
    <label for="confirmar_contrasena" class="block text-gray-700 text-sm font-bold mb-2">Confirmar Contraseña:</label>
    <input type="password" name="confirmar_contrasena" id="confirmar_contrasena" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" required>
  </div>
  
  <div class="flex items-center justify-between">
    <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded">Cambiar Contraseña</button>
  </div>
</form>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    // Mostrar alertas basadas en los mensajes flash
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          Swal.fire({
            title: "{{ '¡Éxito!' if category == 'success' else '¡Error!' }}",
            text: "{{ message }}",
            icon: "{{ category }}",
            confirmButtonText: 'Aceptar'
          });
        {% endfor %}
      {% endif %}
    {% endwith %}
  });
</script>

{% endblock %}