{% extends 'layout.html' %}
{% block title%} Bienes {% endblock %}
{% block content%}
    <div class="px-4 py-3 mx-8 mt-2 mb-8 bg-white rounded-lg shadow-md">
        <h3 class="mb-4 text-lg font-semibold text-gray-600">Búsqueda</h3>
            <hr />
            <form class="mb-4 flex flex-wrap justify-between items-end" method="get" action="{{ url_for('patrimonio.index') }}">
                <div class="grid gap-6 mb-8 md:grid-cols-2 xl:grid-cols-5">
                    <label class="block text-sm">
                        <span class="text-gray-700">Titulo</span>
                        <input
                          class="block w-full mt-1 text-sm focus:border-purple-400 focus:outline-none focus:shadow-outline-purple form-input"
                          placeholder="Ingrese titulo"
                          value="{{ request.args.get('titulo', '') }}"
                          name="titulo"
                        />
                    </label>
                    <label class="block text-sm">
                        <span class="text-gray-700">Numero de inventario</span>
                        <input
                          class="block w-full mt-1 text-sm focus:border-purple-400 focus:outline-none focus:shadow-outline-purple form-input"
                          placeholder="Ingrese número de inventario"
                          value="{{ request.args.get('numero_inventario', '') }}"
                          name="numero_inventario"
                        />
                    </label>
                    <label class="block text-sm">
                        <span class="text-gray-700">
                          Area
                        </span>
                        <select
                            name="area"
                            class="block w-full mt-1 text-sm form-select focus:border-purple-400 focus:outline-none focus:shadow-outline-purple"
                        >
                          <option>Todas</option>
                          <option>$5,000</option>
                          <option>$10,000</option>
                          <option>$25,000</option>
                        </select>
                    </label>
                    <label class="block text-sm">
                        <span class="text-gray-700">
                          Estado
                        </span>
                        <select
                            name="baja"
                            class="block w-full mt-1 text-sm form-select focus:border-purple-400 focus:outline-none focus:shadow-outline-purple"
                        >
                          <option>Activos</option>
                          <option {% if request.args.get('baja') == 'De baja' %} selected {% endif %}>De baja</option>
                        </select>
                    </label>
                    <div class="block text-m flex items-center">
                        <button type="submit" class="px-4 py-2 text-sm font-medium leading-5 text-white transition-colors duration-150 flex flex-wrap bg-blue-600 border border-transparent rounded-lg active:bg-blue-600 hover:bg-blue-700 focus:outline-none focus:shadow-outline-blue">
                            Buscar
                            <svg
                                class="w-4 h-4"
                                aria-hidden="true"
                                fill="currentColor"
                                viewBox="0 0 20 20"
                            >
                                <path
                                fill-rule="evenodd"
                                d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
                                clip-rule="evenodd"
                                ></path>
                            </svg>
                        </button>
                    </div>
                </div>
                <div class="flex flex-wrap items-end mb-1">
                    <!-- Enlace para agregar nuevo registro -->
                    <a href="{{ url_for('patrimonio.nuevo_bien') }}"
                       class="px-4 py-2 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-green-600 border border-transparent rounded-lg active:bg-green-600 hover:bg-green-700 focus:outline-none focus:shadow-outline-green">
                        Agregar Bien
                    </a>
                </div>
            </form>
        <div class="w-full overflow-x-auto">
        <table class="w-full whitespace-no-wrap">
            <thead>
            <tr
                class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b bg-gray-50"
            >
                <th class="px-4 py-3">Titulo</th>
                <th class="px-4 py-3">Area</th>
                <th class="px-4 py-3">Número de inventario</th>
                <th class="px-4 py-3">Acciones</th>
            </tr>
            </thead>
            <tbody
            class="bg-white divide-y"
            >
            {% for bien in bienes %}
                <tr class="text-gray-700">
                    <td class="px-4 py-3">
                    <div class="flex items-center text-sm">
                        <div>
                            <p class="font-semibold">{{ bien.titulo }}</p>
                        </div>
                    </div>
                    </td>
                    <td class="px-4 py-3 text-sm">
                    {{ bien.area }}
                    </td>
                    <td class="px-4 py-3 text-sm">
                    {{ bien.numero_inventario }}
                    </td>
                    <td class="px-4 py-3">
                    <div class="flex items-center space-x-4 text-sm">
                        <a href="{{ url_for('patrimonio.mostrar_bien', id_bien=bien.id) }}"
                        class="flex items-center justify-between px-2 py-2 text-sm font-medium leading-5 text-black-600 rounded-lg focus:outline-none focus:shadow-outline-gray"
                        aria-label="Ver"
                        >
                            <svg
                                class="w-5 h-5"
                                aria-hidden="true"
                                fill="currentColor"
                                viewBox="0 0 24 24"
                            >
                                <path
                                d="M12 4.5C7.305 4.5 3.135 7.305 1.5 12c1.635 4.695 5.805 7.5 10.5 7.5s8.865-2.805 10.5-7.5C20.865 7.305 16.695 4.5 12 4.5zm0 12c-2.485 0-4.5-2.015-4.5-4.5s2.015-4.5 4.5-4.5 4.5 2.015 4.5 4.5-2.015 4.5-4.5 4.5zm0-7.5c-1.655 0-3 1.345-3 3s1.345 3 3 3 3-1.345 3-3-1.345-3-3-3z"
                                ></path>
                            </svg>
                        </a>
                        <a href="{{ url_for('patrimonio.editar_bien', id_bien=bien.id) }}"
                        class="flex items-center justify-between px-2 py-2 text-sm font-medium leading-5 text-black-600 rounded-lg focus:outline-none focus:shadow-outline-gray"
                        aria-label="Editar"
                        >
                            <svg
                                class="w-5 h-5"
                                aria-hidden="true"
                                fill="currentColor"
                                viewBox="0 0 20 20"
                            >
                                <path
                                d="M13.586 3.586a2 2 0 112.828 2.828l-.793.793-2.828-2.828.793-.793zM11.379 5.793L3 14.172V17h2.828l8.38-8.379-2.83-2.828z"
                                ></path>
                            </svg>
                        </a>
                        {% if bien.motivo_baja %}
                            <button data-id="{{ bien.id }}"
                            class="open-modal-restaurar-btn flex items-center justify-between px-2 py-2 text-sm font-medium leading-5 text-black-600 rounded-lg focus:outline-none focus:shadow-outline-gray"
                            aria-label="Restaurar">
                            <svg
                                class="w-5 h-5"
                                aria-hidden="true"
                                fill="currentColor"
                                viewBox="0 0 512 512"
                            >
                                <path
                                fill-rule="evenodd"
                                d="M105.1 202.6c7.7-21.8 20.2-42.3 37.8-59.8c62.5-62.5 163.8-62.5 226.3 0L386.3 160 352 160c-17.7 0-32 14.3-32 32s14.3 32 32 32l111.5 0c0 0 0 0 0 0l.4 0c17.7 0 32-14.3 32-32l0-112c0-17.7-14.3-32-32-32s-32 14.3-32 32l0 35.2L414.4 97.6c-87.5-87.5-229.3-87.5-316.8 0C73.2 122 55.6 150.7 44.8 181.4c-5.9 16.7 2.9 34.9 19.5 40.8s34.9-2.9 40.8-19.5zM39 289.3c-5 1.5-9.8 4.2-13.7 8.2c-4 4-6.7 8.8-8.1 14c-.3 1.2-.6 2.5-.8 3.8c-.3 1.7-.4 3.4-.4 5.1L16 432c0 17.7 14.3 32 32 32s32-14.3 32-32l0-35.1 17.6 17.5c0 0 0 0 0 0c87.5 87.4 229.3 87.4 316.7 0c24.4-24.4 42.1-53.1 52.9-83.8c5.9-16.7-2.9-34.9-19.5-40.8s-34.9 2.9-40.8 19.5c-7.7 21.8-20.2 42.3-37.8 59.8c-62.5 62.5-163.8 62.5-226.3 0l-.1-.1L125.6 352l34.4 0c17.7 0 32-14.3 32-32s-14.3-32-32-32L48.4 288c-1.6 0-3.2 .1-4.8 .3s-3.1 .5-4.6 1z"
                                d="M9 2a1 1 0 00-.894.553L7.382 4H4a1 1 0 000 2v10a2 2 0 002 2h8a2 2 0 002-2V6a1 1 0 100-2h-3.382l-.724-1.447A1 1 0 0011 2H9zM7 8a1 1 0 012 0v6a1 1 0 11-2 0V8zm5-1a1 1 0 00-1 1v6a1 1 0 102 0V8a1 1 0 00-1-1z"
                                clip-rule="evenodd"
                                ></path>
                            </svg>
                            </button>
                        {% else %}
                            <button data-id="{{ bien.id }}"
                            class="open-modal-btn flex items-center justify-between px-2 py-2 text-sm font-medium leading-5 text-black-600 rounded-lg focus:outline-none focus:shadow-outline-gray"
                            aria-label="Borrar"
                            >
                            <svg
                                class="w-5 h-5"
                                aria-hidden="true"
                                fill="currentColor"
                                viewBox="0 0 20 20"
                            >
                                <path
                                fill-rule="evenodd"
                                d="M9 2a1 1 0 00-.894.553L7.382 4H4a1 1 0 000 2v10a2 2 0 002 2h8a2 2 0 002-2V6a1 1 0 100-2h-3.382l-.724-1.447A1 1 0 0011 2H9zM7 8a1 1 0 012 0v6a1 1 0 11-2 0V8zm5-1a1 1 0 00-1 1v6a1 1 0 102 0V8a1 1 0 00-1-1z"
                                clip-rule="evenodd"
                                ></path>
                            </svg>
                            </button>
                        {% endif %}
                    </div>
                    </td>
                </tr>
            {% endfor %}
        </table>
        </div>
        <div
        class="grid px-4 py-3 text-xs font-semibold tracking-wide text-gray-500 uppercase border-t bg-gray-50 sm:grid-cols-9"
        >
        <span class="flex items-center col-span-3">
            Mostrando {{ bienes.first }}-{{ bienes.last }} de {{ bienes.total }}
        </span>
        <span class="col-span-2"></span>
        <!-- Pagination -->
        <span class="flex col-span-4 mt-2 sm:mt-auto sm:justify-end">
            <nav aria-label="Table navigation">
            <ul class="inline-flex items-center">
                <li>
                <a
                    class="px-3 py-1 rounded-md rounded-l-lg focus:outline-none focus:shadow-outline-purple"
                    aria-label="Anterior"
                    href="{{ url_for('patrimonio.index', page=bienes.prev_num, titulo=request.args.get('titulo', ''), numero_inventario=request.args.get('numero_inventario', ''), area=request.args.get('area', 'Todas'), baja=request.args.get('baja', 'Activos')) }}"
                >
                    <svg
                    class="w-4 h-4 fill-current"
                    aria-hidden="true"
                    viewBox="0 0 20 20"
                    >
                    <path
                        d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z"
                        clip-rule="evenodd"
                        fill-rule="evenodd"
                    ></path>
                    </svg>
                </a>
                </li>
                {% for page in bienes.iter_pages() %}
                    {% if page %}
                        {% if page != bienes.page %}
                            <li>
                                <a href="{{ url_for('patrimonio.index', page=page, titulo=request.args.get('titulo', ''), numero_inventario=request.args.get('numero_inventario', ''), area=request.args.get('area', 'Todas'), baja=request.args.get('baja', 'Activos')) }}" class="px-3 py-1 text-gray transition-colors duration-150">
                                    {{ page }}
                                </a>
                            </li>
                        {% else %}
                            <li>
                                <p class="px-3 py-1 text-white transition-colors duration-150 bg-blue-600 border border-r-0 border-blue-600 rounded-md focus:outline-none focus:shadow-outline-blue">
                                    {{ page }}
                                </p>
                            </li>
                        {% endif %}
                    {% else %}
                        <li>
                            <p class="px-3 py-1 text-white transition-colors duration-150">
                                ..
                            </p>
                        </li>
                    {% endif %}
                {% endfor %}
                <li>
                <a
                    class="px-3 py-1 rounded-md rounded-r-lg focus:outline-none focus:shadow-outline-purple"
                    aria-label="Next"
                    href="{{ url_for('patrimonio.index', page=bienes.next_num, titulo=request.args.get('titulo', ''), numero_inventario=request.args.get('numero_inventario', ''), area=request.args.get('area', 'Todas'), baja=request.args.get('baja', 'Activos')) }}"
                >
                    <svg
                    class="w-4 h-4 fill-current"
                    aria-hidden="true"
                    viewBox="0 0 20 20"
                    >
                    <path
                        d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                        clip-rule="evenodd"
                        fill-rule="evenodd"
                    ></path>
                    </svg>
                </a>
                </li>
            </ul>
            </nav>
        </span>
        </div>
    </div>
    <form id="modals" method="POST" action="{{ url_for('patrimonio.dar_de_baja_bien') }}">
        {{ form.hidden_tag() }}
            <div class="modal hidden" id="modal-borrar" data-id="1" aria-labelledby="modal-title" role="dialog" aria-modal="true">
                <div class="fixed inset-0 bg-gray-500/75 transition-opacity" aria-hidden="true"></div>
                    <div class="fixed inset-0 z-10 w-screen overflow-y-auto">
                        <div class="flex min-h-full items-end justify-center p-4 text-center sm:items-center sm:p-0">
                            <div class="relative transform overflow-hidden rounded-lg bg-white text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-lg">
                                <div class="bg-white px-4 pb-4 pt-5 sm:p-6 sm:pb-4">
                                    <h3 class="text-base font-semibold text-gray-900" id="modal-title">¿Dar de baja?</h3>
                                        <input type="hidden" id="id_bien_borrar" name="id_bien" value="" />
                                        <label for="motivo_baja" class="text-sm text-gray-500">Mótivo de baja</label>
                                        {{ form.motivo_baja(rows="3", class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm/6", placeholder='Ingrese motivo de baja') }}
                                </div>
                                <div class="bg-gray-50 px-4 py-3 sm:flex sm:flex-row-reverse sm:px-6">
                                <button type="submit" class="px-3 py-2 text-white bg-green-600 rounded hover:bg-green-500 sm:ml-3 sm:w-auto">Confirmar</button>
                                <button type="button" class="close-modal px-3 py-2 text-white bg-red-600 rounded hover:bg-red-500 sm:ml-3 sm:w-auto">Cancelar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </form>
    <form id="modal-restore" method="POST" action="{{ url_for('patrimonio.restaurar_bien') }}">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <div class="modal hidden" id="modal-restaurar" data-id="1" aria-labelledby="modal-title" role="dialog" aria-modal="true">
                <div class="fixed inset-0 bg-gray-500/75 transition-opacity" aria-hidden="true"></div>
                    <div class="fixed inset-0 z-10 w-screen overflow-y-auto">
                        <div class="flex min-h-full items-end justify-center p-4 text-center sm:items-center sm:p-0">
                            <div class="relative transform overflow-hidden rounded-lg bg-white text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-lg">
                                <div class="bg-white px-4 pb-4 pt-5 sm:p-6 sm:pb-4">
                                    <h3 class="text-base font-semibold text-gray-900" id="modal-title">¿Restaurar bien?</h3>
                                        <input type="hidden" id="id_bien_restaurar" name="id_bien" value="" />
                                </div>
                                <div class="bg-gray-50 px-4 py-3 sm:flex sm:flex-row-reverse sm:px-6">
                                <button type="submit" class="px-3 py-2 text-white bg-green-600 rounded hover:bg-green-500 sm:ml-3 sm:w-auto">Confirmar</button>
                                <button type="button" class="close-modal-restaurar px-3 py-2 text-white bg-red-600 rounded hover:bg-red-500 sm:ml-3 sm:w-auto">Cancelar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </form>
<script>
    // Manejo de modales dinámicos
document.addEventListener('DOMContentLoaded', () => {
    // Selecciona todos los botones para abrir modales
    const openModalButtons = document.querySelectorAll('.open-modal-btn');
   
    // Función para abrir el modal correspondiente
    const openModal = (id) => {
      const modal = document.querySelector(`#modal-borrar`);
      document.querySelector('#id_bien_borrar').value = id;
      modal.classList.remove('hidden'); // Muestra el modal
    };
    
    // Asocia evento de clic a los botones de abrir modal
    openModalButtons.forEach((button) => {
        button.addEventListener('click', () => {
          const id = button.getAttribute('data-id');
          openModal(id);
        });
    });

    const openModalRestaurarButtons = document.querySelectorAll('.open-modal-restaurar-btn');
   
    // Función para abrir el modal correspondiente
    const openModalRestaurar = (id) => {
      const modal = document.querySelector(`#modal-restaurar`);
      document.querySelector('#id_bien_restaurar').value = id;
      modal.classList.remove('hidden'); // Muestra el modal
    };
    
    // Asocia evento de clic a los botones de abrir modal
    openModalRestaurarButtons.forEach((button) => {
        button.addEventListener('click', () => {
          const id = button.getAttribute('data-id');
          openModalRestaurar(id);
        });
    });
    
    document.querySelector('.close-modal').addEventListener('click', () => {
        const modal = document.querySelector(`#modal-borrar`);
        modal.classList.add('hidden');
    });
    
    document.querySelector('.close-modal-restaurar').addEventListener('click', () => {
        const modal = document.querySelector(`#modal-restaurar`);
        modal.classList.add('hidden');
    });
  
    // Cierra el modal al hacer clic fuera del contenido
    document.querySelectorAll('.modal').forEach((modal) => {
      modal.addEventListener('click', (event) => {
        if (event.target === modal) {
          const id = modal.getAttribute('data-id');
          closeModal(id);
        }
      });
    });
  });  
</script>
{% endblock %}