{% extends 'layout.html' %}
{% block title %}Carpetas{% endblock %}
{% block content %}
<div>
  <div id="context-menu" class="hidden">
    {% if current_user.empleado.rol == 'Administrador' or current_user.empleado.rol == 'Colaborador' %}
      <ul>
        <li class="flex flex-wrap" id="eliminar">
          Eliminar
          <svg class="w-5 h-5" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20">
              <path fill-rule="evenodd" clip-rule="evenodd"
              d="M9 2a1 1 0 00-.894.553L7.382 4H4a1 1 0 000 2v10a2 2 0 002 2h8a2 2 0 002-2V6a1 1 0 100-2h-3.382l-.724-1.447A1 1 0 0011 2H9zM7 8a1 1 0 012 0v6a1 1 0 11-2 0V8zm5-1a1 1 0 00-1 1v6a1 1 0 102 0V8a1 1 0 00-1-1z"
              ></path>
          </svg>
        </li>
        <li class="flex flex-wrap" id="editar">
          Editar
          <svg class="w-5 h-5" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20">
              <path fill-rule="evenodd" clip-rule="evenodd"
              d="M13.586 3.586a2 2 0 112.828 2.828l-.793.793-2.828-2.828.793-.793zM11.379 5.793L3 14.172V17h2.828l8.38-8.379-2.83-2.828z"
              ></path>
          </svg>
        </li>
      </ul>
    {% else %}
      <p> No podes editar carpetas</p>
    {% endif %}
  </div>
  <form method="POST" action="{{ url_for('archivos.eliminar_carpeta') }}">
    <div class="modal hidden" data-id="1" aria-labelledby="modal-title" role="dialog" aria-modal="true">
      <div class="fixed inset-0 bg-gray-500/75 transition-opacity" aria-hidden="true"></div>
          <div class="fixed inset-0 z-10 w-screen overflow-y-auto">
              <div class="flex min-h-full items-end justify-center p-4 text-center sm:items-center sm:p-0">
                  <div class="relative transform overflow-hidden rounded-lg bg-white text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-lg">
                      <div class="bg-white px-4 pb-4 pt-5 sm:p-6 sm:pb-4">
                          <h3 class="text-base font-semibold text-gray-900" id="modal-title">¿Eliminar carpeta?</h3>
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                            <input type="hidden" name="id_carpeta" value="" />
                      </div>
                      <div class="bg-gray-50 px-4 py-3 sm:flex sm:flex-row-reverse sm:px-6">
                        <button type="submit" class="mt-3 mx-2 mb-2 inline-flex w-full justify-center rounded-md bg-red-600 px-3 py-2 text-sm font-semibold text-white shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-red-500 sm:mt-0 sm:w-auto">Confirmar</button>
                        <button type="button" class="close-modal mx-2 mb-2 inline-flex w-full justify-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm hover:bg-gray-50 sm:ml-3 sm:w-auto">Cancelar</button>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </form>
    <div class="mx-auto max-w-2xl px-4 py-2 sm:px-6 sm:py-6 lg:max-w-7xl lg:px-8">
      <h2 class="sr-only">Carpetas</h2>
          <form class="mb-4 flex flex-wrap justify-between items-end" method="get" action="{{ url_for('archivos.index') }}">
            <h3 class="mb-2 text-lg font-semibold text-gray-600">Archivos</h3>
                <label class="block text-sm">
                    <span class="text-gray-700">
                      Año
                    </span>
                    <select name="anio" onchange="this.form.submit()"
                        class="block w-full mt-1 text-sm form-select focus:border-purple-400 focus:outline-none focus:shadow-outline-purple"
                    >
                      {% for anio in anios %}
                        <option {% if request.args.get('anio') == anio|string %}selected{% endif %}>{{ anio }}</option>
                      {% endfor %}
                    </select>
                </label>
          </form>
          <hr />
      <div class="grid grid-cols-2 gap-x-6 gap-y-10 sm:grid-cols-4 lg:grid-cols-6 xl:grid-cols-8 xl:gap-x-8">
        {% for carpeta in carpetas %}
            <a data-id="{{ carpeta.id }}" href="{{url_for('archivos.ver_carpeta', id_carpeta=carpeta.id)}}" class="group">
                <svg class="px-2 aspect-square w-full rounded-lg object-cover group-hover:opacity-75 xl:aspect-[7/7]"
                        aria-hidden="true"
                        fill="currentColor"
                        viewBox="0 0 512 512"
                        >
                        <path
                            fill-rule="evenodd"
                            d="M0 96C0 60.7 28.7 32 64 32l132.1 0c19.1 0 37.4 7.6 50.9 21.1L289.9 96 448 96c35.3 0 64 28.7 64 64l0 256c0 35.3-28.7 64-64 64L64 480c-35.3 0-64-28.7-64-64L0 96zM64 80c-8.8 0-16 7.2-16 16l0 320c0 8.8 7.2 16 16 16l384 0c8.8 0 16-7.2 16-16l0-256c0-8.8-7.2-16-16-16l-161.4 0c-10.6 0-20.8-4.2-28.3-11.7L213.1 87c-4.5-4.5-10.6-7-17-7L64 80z"
                            clip-rule="evenodd"
                        ></path>
                </svg>
                <p class="mt-1 text-md font-medium text-gray-900 break-words">{{ carpeta.nombre }}</p>
            </a>
        {% endfor %}
        {% if request.args.get('anio',anios[0]|string) == anios[0]|string and (current_user.empleado.rol == 'Administrador' or current_user.empleado.rol == 'Colaborador') %}
          <a href="{{url_for('archivos.nueva_carpeta')}}">
              <svg class="px-4 aspect-square w-full rounded-lg object-cover group-hover:opacity-75 xl:aspect-[7/7]"
                      aria-hidden="true"
                      fill="currentColor"
                      viewBox="0 0 448 512"
                      >
                      <path
                          fill-rule="evenodd"
                          d="M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32l0 144L48 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l144 0 0 144c0 17.7 14.3 32 32 32s32-14.3 32-32l0-144 144 0c17.7 0 32-14.3 32-32s-14.3-32-32-32l-144 0 0-144z"
                          clip-rule="evenodd"
                      ></path>
              </svg>
              <p class="mt-1 text-md font-medium text-gray-900 break-words">Agregar carpeta</p>
          </a>
        {% endif %}
      </div>
    </div>
  </div>
  <script>
    // script.js
    const contextMenu = document.getElementById("context-menu");
    let selectedFolderId = null;
  
    // Función para mostrar el menú contextual
    document.querySelectorAll('.group').forEach(item => {
      item.addEventListener('contextmenu', (event) => {
        event.preventDefault(); // Evita el menú contextual predeterminado
  
        const { clientX: clientX, clientY: clientY } = event;
        
        const mouseX = clientX + window.pageXOffset;
        const mouseY = clientY + window.pageYOffset;
        
        // Ajustar posición del menú
        contextMenu.style.top = `${mouseY}px`;
        contextMenu.style.left = `${mouseX}px`;
  
        // Mostrar el menú
        contextMenu.classList.remove("hidden");
  
        // Guardar el ID del archivo seleccionado
        selectedFolderId = item.getAttribute('data-id');
      });
    });
  
    // Ocultar el menú al hacer clic en cualquier lugar
    document.addEventListener("click", () => {
      contextMenu.classList.add("hidden");
    });
  
    // Prevenir que el clic derecho fuera del contenido abra el menú contextual del navegador
    document.addEventListener("contextmenu", (event) => {
      if (!event.target.closest('.group')) {
        event.preventDefault();
        contextMenu.classList.add("hidden");
      }
    });
  
    // Añadir funcionalidad a las opciones del menú contextual
    document.getElementById('eliminar').addEventListener('click', () => {
      const modal = document.querySelector(`.modal`);
      document.querySelector('input[name="id_carpeta"]').value = selectedFolderId;
      modal.classList.remove('hidden');
    });

    document.getElementById('editar').addEventListener('click', () => {
        if (selectedFolderId) {
            const url = "{{ url_for('archivos.editar_carpeta', id_carpeta=0) }}".replace('0', selectedFolderId);
            window.location.href = url;
        } else {
            alert('No folder selected');
        }
    });
  
  
    document.querySelector('.close-modal').addEventListener('click', () => {
      const modal = document.querySelector(`.modal`);
      modal.classList.add('hidden');
    });
  
    // Mostrar el menú contextual al mantener presionado en dispositivos táctiles
    document.querySelectorAll('.group').forEach(item => {
      let touchTimeout;
  
      item.addEventListener('touchstart', (event) => {
        touchTimeout = setTimeout(() => {
          event.preventDefault(); // Evita el menú contextual predeterminado
    
          const touch = event.touches[0];
          const { clientX, clientY } = touch;
    
          // Calcular posición absoluta
          const mouseX = clientX + window.pageXOffset;
          const mouseY = clientY + window.pageYOffset;
    
          // Ajustar posición del menú
          contextMenu.style.top = `${mouseY}px`;
          contextMenu.style.left = `${mouseX}px`;
    
          // Mostrar el menú
          contextMenu.classList.remove("hidden");
    
          // Guardar el ID del archivo seleccionado
          selectedFileId = item.getAttribute('data-id');
        }, 500); // Tiempo de espera para considerar una pulsación larga
      });
  
      item.addEventListener('touchend', () => {
        clearTimeout(touchTimeout);
        event.preventDefault();
      });
    });
  </script>
  <style>
    #context-menu {
      position: absolute;
      z-index: 1000;
      background: #fff;
      border: 1px solid #ccc;
      box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
      border-radius: 8px;
      padding: 10px;
    }
    
    #context-menu ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }
    
    #context-menu ul li {
      padding: 8px 12px;
      cursor: pointer;
    }
    
    #context-menu ul li:hover {
      background-color: #f0f0f0;
    }
  </style>
{% endblock %}  