{% extends 'layout.html' %}
{% block title %}Carpetas{% endblock %}
{% block content %}
<div>
    <div class="mx-auto max-w-2xl px-4 py-16 sm:px-6 sm:py-24 lg:max-w-7xl lg:px-8">
      <h2 class="sr-only">Carpetas</h2>
  
      <div class="grid grid-cols-2 gap-x-6 gap-y-10 sm:grid-cols-4 lg:grid-cols-6 xl:grid-cols-8 xl:gap-x-8">
        {% for carpeta in carpetas %}
            <a href="{{url_for('archivos.ver_carpeta', id_carpeta=carpeta.id)}}" class="group">
                <svg class="px-2 aspect-square w-full rounded-lg bg-gray-200 object-cover group-hover:opacity-75 xl:aspect-[7/7]"
                        aria-hidden="true"
                        fill="currentColor"
                        viewBox="0 0 512 512"
                        >
                        <path
                            fill-rule="evenodd"
                            d="M0 96C0 60.7 28.7 32 64 32l132.1 0c19.1 0 37.4 7.6 50.9 21.1L289.9 96 448 96c35.3 0 64 28.7 64 64l0 256c0 35.3-28.7 64-64 64L64 480c-35.3 0-64-28.7-64-64L0 96zM64 80c-8.8 0-16 7.2-16 16l0 320c0 8.8 7.2 16 16 16l384 0c8.8 0 16-7.2 16-16l0-256c0-8.8-7.2-16-16-16l-161.4 0c-10.6 0-20.8-4.2-28.3-11.7L213.1 87c-4.5-4.5-10.6-7-17-7L64 80z"
                            clip-rule="evenodd"
                        ></path>
                </svg>
                <p class="mt-1 text-md font-medium text-gray-900 break-words">{{ carpeta.nombre }}</p>
            </a>
        {% endfor %}
        <a href="{{url_for('archivos.nueva_carpeta')}}" class="group">
            <svg class="px-4 aspect-square w-full rounded-lg bg-gray-200 object-cover group-hover:opacity-75 xl:aspect-[7/7]"
                    aria-hidden="true"
                    fill="currentColor"
                    viewBox="0 0 448 512"
                    >
                    <path
                        fill-rule="evenodd"
                        d="M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32l0 144L48 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l144 0 0 144c0 17.7 14.3 32 32 32s32-14.3 32-32l0-144 144 0c17.7 0 32-14.3 32-32s-14.3-32-32-32l-144 0 0-144z"
                        clip-rule="evenodd"
                    ></path>
            </svg>
            <p class="mt-1 text-md font-medium text-gray-900 break-words">Agregar carpeta</p>
        </a>
      </div>
    </div>
  </div>
{% endblock %}  