{% extends 'layout.html' %}
{% block title %}Nueva Carpeta{% endblock %}
{% block content %}
    <form class="px-6 pt-6" method="POST" action="{{ url_for('archivos.agregar_carpeta') }}">
        {{ form.hidden_tag() }}

        <div class="bg-gray-300 border-b border-gray-900/10 pb-12 pt-5 px-5 bg-opacity-40 rounded-lg shadow-md">
            <h2 class="text-base/7 font-semibold text-gray-900">Nueva carpeta</h2>
            <p class="mt-1 text-sm/6 text-gray-600">Ingrese la información de la nueva carpeta</p>
    
            <div class="mt-10 mb-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
                <div class="sm:col-span-4">
                    <label for="nombre" class="block text-sm/15 font-medium text-gray-900">Nombre</label>
                    <div class="mt-2">
                        <div class="flex rounded-md shadow-sm ring-1 ring-inset ring-gray-300 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-600 sm:max-w-md">
                            {{ form.nombre(class='form-control block flex-1 border-0 bg-transparent py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-0 sm:text-sm/6', placeholder='Ingrese nombre') }}
                        </div>
                    </div>
                </div>

            </div>

            <!-- Lista dinámica para asignar permisos -->
            <div id="permissions-list">
                <h3 class="block text-sm/15 font-medium text-gray-900">Asignar permisos</h3>

            </div>
            
            <!-- Botón para agregar un nuevo usuario a la lista -->
            <button type="button" class="rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600" onclick="addPermission()">Agregar usuario</button>
        
            <div class="mt-6 flex items-center justify-end gap-x-6">
                <a href="{{ url_for('archivos.index') }}" type="button" class="text-sm/6 font-semibold text-gray-900">Cancelar</a>
                <button type="submit" class="rounded-md bg-green-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-green-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-green-600">Crear</button>
            </div>
        </div>
    </form>
<script>
    function addPermission() {
        const permissionsList = document.getElementById("permissions-list");
        const permissionCount = permissionsList.children.length; // Índice basado en la cantidad actual de permisos

        // Crear un nuevo div para el permiso
        const newPermissionDiv = document.createElement("div");
        newPermissionDiv.className = "permission-item";

        newPermissionDiv.innerHTML = `
        <div class="my-2">
            <label for="permisos-${permissionCount}-user_id">Usuario:</label>
            <select name="permisos-${permissionCount}-user_id" id="permisos-${permissionCount}-user_id" class="form-control w-full sm:w-auto">
                {% for user in users %}
                    <option value="{{ user.id }}">{{ user.empleado.nombre }} {{ user.empleado.apellido }} - {{ user.empleado.dni }}</option>
                {% endfor %}
            </select>

            <label for="permisos-${permissionCount}-permiso">Permiso:</label>
            <select name="permisos-${permissionCount}-permiso" id="permisos-${permissionCount}-permiso" class="form-control">
                <option value="ver">Ver</option>
                <option value="editar">Editar</option>
            </select>

            <button type="button" class="rounded-md bg-red-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-red-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-red-600" onclick="removePermission(this)">Eliminar</button>
        </div>
        `;

        permissionsList.appendChild(newPermissionDiv);
        }

        function removePermission(button) {
            const permissionItem = button.closest(".permission-item");
            permissionItem.remove();
        } 
</script>
{% endblock %}