{% extends 'layout.html' %}
{% block title%} Bienes {% endblock %}
{% block content%}
    <div class="px-4 py-3 mx-8 mt-2 mb-8 bg-white rounded-lg shadow-md">
        <h3 class="mb-4 text-lg font-semibold text-gray-600">Búsqueda</h3>
            <hr />
            <form class="mb-4 flex flex-wrap justify-between items-end" method="get" action="{{ url_for('compra.lista_proveedores') }}">
                <div class="grid gap-6 mb-8 md:grid-cols-2 xl:grid-cols-5">
                    <div class="me-2 mb-2">
                        <label for="razon_social" class="form-label fw-bold" style="display: block;">Razon social</label>
                        <input type="text"
                               class="form-control form-control-sm stylish-input"
                               id="razon_social"
                               name="razon_social"
                               placeholder="Ingrese la razon social"
                               value="{{ request.args.get('razon_social', '') }}" />
                    </div>
                    <div class="me-2 mb-2">
                        <label for="contacto" class="form-label fw-bold" style="display: block;">Contacto</label>
                        <input type="text"
                               class="form-control form-control-sm stylish-input"
                               id="contacto"
                               name="contacto"
                               placeholder="Ingrese el contacto"
                               value="{{ request.args.get('contacto', '') }}" />
                    </div>
                    <div class="block text-m flex items-center">
                        <button type="submit" class="px-4 py-2 text-sm font-medium leading-5 text-white transition-colors duration-150 flex flex-wrap bg-blue-600 border border-transparent rounded-lg active:bg-blue-600 hover:bg-blue-700 focus:outline-none focus:shadow-outline-blue">
                            Buscar
                            <svg
                                class="w-4 h-4"
                                aria-hidden="true"
                                fill="currentColor"
                                viewBox="0 0 20 20"
                            >
                                <path
                                fill-rule="evenodd"
                                d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
                                clip-rule="evenodd"
                                ></path>
                            </svg>
                        </button>
                    </div>
                </div>
                <div class="flex flex-wrap items-end mb-1">
                    <!-- Enlace para agregar nuevo registro -->
                    <a href="{{ url_for('compra.agregar_proveedor') }}"
                       class="px-4 py-2 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-green-600 border border-transparent rounded-lg active:bg-green-600 hover:bg-green-700 focus:outline-none focus:shadow-outline-green">
                        Agregar proveedor
                    </a>
                </div>
            </form>
        <div class="w-full overflow-x-auto">
        <table class="w-full whitespace-no-wrap">
            <thead>
            <tr
                class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b bg-gray-50"
            >
                <th class="px-4 py-3">Razon social</th>
                <th class="px-4 py-3">Contacto</th>
                <th class="px-4 py-3">Acciones</th>
            </tr>
            </thead>
            <tbody
            class="bg-white divide-y"
            >
            {% for proveedor in proveedores %}
                <tr class="text-gray-700">
                    <td class="px-4 py-3">
                    <div class="flex items-center text-sm">
                        <div>
                            <p class="font-semibold">{{ proveedor.razon_social }}</p>
                        </div>
                    </div>
                    </td>
                    <td class="px-4 py-3 text-sm">
                    {{ proveedor.contacto }}
                    </td>
                    <td class="px-4 py-3">
                    <div class="flex items-center space-x-4 text-sm">
                        <a href="{{ url_for('compra.editar_proveedor', id_proveedor=proveedor.id) }}"
                        class="text-white bg-blue-500 hover:bg-blue-600 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
                        aria-label="Editar proveedor">
                        Editar proveedor
                     </a>
                        <form id="eliminar-proveedor-form-{{ proveedor.id }}" action="{{ url_for('compra.eliminar_proveedor', id_proveedor=proveedor.id) }}" method="post" style="display:inline;">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                            <button type="button"
                                    id="eliminar-proveedor-btn-{{ proveedor.id }}"
                                    class="text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-800"
                                    data-id="{{ proveedor.id }}">
                                Eliminar proveedor
                            </button>
                        </form>
                    </div>
                    </td>
                </tr>
            {% endfor %}
        </table>
        </div>
        <div
        class="grid px-4 py-3 text-xs font-semibold tracking-wide text-gray-500 uppercase border-t bg-gray-50 sm:grid-cols-9"
        >
        <span class="col-span-2"></span>
        <!-- Pagination -->
        <span class="flex col-span-4 mt-2 sm:mt-auto sm:justify-end">
            <nav aria-label="Table navigation">
            <ul class="inline-flex items-center">
                <li>
                <a
                    class="px-3 py-1 rounded-md rounded-l-lg focus:outline-none focus:shadow-outline-purple"
                    aria-label="Anterior"
                    href="{{ url_for('compra.lista_proveedores', page=proveedores.prev_num, razon_social=request.args.get('razon_social', ''), contacto=request.args.get('contacto', '')) }}"
                    >
                    <svg
                    class="w-4 h-4 fill-current"
                    aria-hidden="true"
                    viewBox="0 0 20 20"
                    >
                    <path
                        d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z"
                        clip-rule="evenodd"
                        fill-rule="evenodd"
                    ></path>
                    </svg>
                </a>
                </li>
                {% for page in proveedores.iter_pages() %}
                    {% if page %}
                        {% if page != proveedores.page %}
                        <li>
                            <a href="{{ url_for('compra.lista_proveedores', page=page, razon_social=request.args.get('razon_social', ''), contacto=request.args.get('contacto', '')) }}" class="px-3 py-1 text-gray transition-colors duration-150">
                                {{ page }}
                            </a>
                        </li>
                        {% else %}
                            <li>
                                <p class="px-3 py-1 text-white transition-colors duration-150 bg-blue-600 border border-r-0 border-blue-600 rounded-md focus:outline-none focus:shadow-outline-blue">
                                    {{ page }}
                                </p>
                            </li>
                        {% endif %}
                    {% else %}
                        <li>
                            <p class="px-3 py-1 text-white transition-colors duration-150">
                                ..
                            </p>
                        </li>
                    {% endif %}
                {% endfor %}
                <li>
                <a
                    class="px-3 py-1 rounded-md rounded-r-lg focus:outline-none focus:shadow-outline-purple"
                    aria-label="Next"
                    href="{{ url_for('compra.lista_proveedores', page=proveedores.next_num, razon_social=request.args.get('razon_social', ''), contacto=request.args.get('contacto', '')) }}"
                    >
                    <svg
                    class="w-4 h-4 fill-current"
                    aria-hidden="true"
                    viewBox="0 0 20 20"
                    >
                    <path
                        d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                        clip-rule="evenodd"
                        fill-rule="evenodd"
                    ></path>
                    </svg>
                </a>
                </li>
            </ul>
            </nav>
        </span>
        </div>
    </div>
<style>
    .stylish-input {
        border: 2px solid #181b1e; /* Blue border */
        border-radius: 8px; /* Rounded corners */
        padding: 10px; /* Padding inside the input */
        font-size: 1rem; /* Font size */
        transition: border-color 0.3s, box-shadow 0.3s; /* Smooth transition for border and shadow */
    }
    
    .stylish-input:focus {
        border-color: #01060c; /* Darker blue border on focus */
        box-shadow: 0 0 8px rgba(28, 109, 208, 0.5); /* Shadow on focus */
        outline: none; /* Remove default outline */
    }
</style>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        // Escuchar eventos en todos los botones de eliminación
        document.querySelectorAll('[id^="eliminar-proveedor-btn-"]').forEach(button => {
          button.addEventListener('click', function() {
            const proveedorId = this.getAttribute('data-id'); // Obtener el ID del proveedor
            Swal.fire({
              title: '¿Estás seguro?',
              text: "¡No podrás revertir esto!",
              icon: 'warning',
              showCancelButton: true,
              confirmButtonColor: '#3085d6',
              cancelButtonColor: '#d33',
              confirmButtonText: 'Eliminar',
              cancelButtonText: 'Cancelar'
            }).then((result) => {
              if (result.isConfirmed) {
                // Enviar el formulario correspondiente
                document.getElementById(`eliminar-proveedor-form-${proveedorId}`).submit();
              }
            });
          });
        });
      });
</script>
{% endblock %}