{% extends "layout.html" %}
{% block title %}
    Crear Área
{% endblock %}
{% block content %}
<a href="{{url_for('area.listar_areas')}}"
    class="inline-flex items-center px-3 py-4 rounded-md text-black-500 hover:bg-black-50">
    <svg fill="none" viewBox="0 0 24 24" stroke="currentColor" class="h-6 w-6">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 16l-4-4m0 0l4-4m-4 4h18">
        </path>
    </svg>
    <span class="ml-1 font-bold text-lg">Volver</span>
</a>
<div class="h-full w-full flex justify-center items-center flex-col px-4 mt-20">
    <form id="crearAreaForm" action="{{ url_for('area.crear_area') }}" method="POST" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 w-full max-w-lg">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

        <div class="mb-4">
            <label for="nombre" class="block mb-2 text-sm font-medium text-gray-900">Nombre del Área</label>
            <input
                type="text"
                id="nombre"
                name="nombre"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                placeholder="Nombre del Área"
                required
            />
        </div>
        <div class="mb-4">
            <label for="saldo" class="block mb-2 text-sm font-medium text-gray-900">Saldo</label>
            <input
                type="number"
                step="0.01"
                id="saldo"
                name="saldo"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                placeholder="Saldo"
                required
            />
        </div>
        <div class="flex justify-center">
            <button
                type="submit"
                class="text-white bg-blue-500 hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center"
            >
                Crear Área
            </button>
        </div>
    </form>
</div>

{% endblock %}