{% extends "layout.html" %} {% block title %} Panel de Personal {% endblock %}
{% block content %}

<div class="container mx-auto px-4 py-8 items-start">
  <div class="flex justify-between w-full">
    <h1 class="text-3xl font-bold mb-8">Panel de Personal</h1>

  </div>

  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
    <div class="bg-white shadow-md rounded-lg p-6">
      <a href="{{ url_for('area.listar_areas') }}" class="block text-center">
        <h2 class="text-xl font-semibold mb-2">Áreas</h2>
      </a>
    </div>
    <div class="bg-white shadow-md rounded-lg p-6">
      <a
        href="{{ url_for('personal.ver_empleados') }}"
        class="block text-center"
      >
        <h2 class="text-xl font-semibold mb-2">Empleados</h2>
      </a>
    </div>
    <div class="bg-white shadow-md rounded-lg p-6">
      <a
        href="{{ url_for('ausencia.ver_calendario') }}"
        class="block text-center"
      >
        <h2 class="text-xl font-semibold mb-2">Ausencias</h2>
      </a>
    </div>
  </div>
</div>

{% endblock %}
