{% extends "layout.html" %} {% block title %} Modificar Área {% endblock %} {%
block content %}

<div class="h-screen w-full flex justify-center items-center flex-col"> 
<form
  action="{{ url_for('area.modificar_area', id=area.id) }}"
  method="POST"
  class="gap-8 flex flex-col justify-center items-center"
>
  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />

  <div>
    <label
      for="nombre"
      class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
      >Nombre del Área</label
    >
    <input
      type="text"
      id="nombre"
      name="nombre"
      value="{{ area.nombre }}"
      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
      placeholder="Nombre del Área"
      required
    />
  </div>
  <div>
    <label
      for="saldo"
      class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
      >Saldo</label
    >
    <input
      type="number"
      step="0.01"
      id="saldo"
      name="saldo"
      value="{{ area.saldo }}"
      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
      placeholder="Saldo"
      required
    />
  </div>
  <button
    type="submit"
    class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
  >
    Modificar Área
  </button>
</form>
<form
  action="{{ url_for('area.eliminar_area', id=area.id) }}"
  method="POST"
  class="mt-4"
>
  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />

  <button
    type="submit"
    class="text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-800"
  >
    Eliminar Área
  </button>
  
</form>

<a
href="{{ url_for('area.listar_areas') }}"
class="mt-4 text-white bg-gray-500 hover:bg-gray-600 focus:ring-4 focus:outline-none focus:ring-gray-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-gray-400 dark:hover:bg-gray-500 dark:focus:ring-gray-600"
>
Volver
</a>

</div>
<script>
  document.addEventListener('DOMContentLoaded', function() {
    // Mostrar alertas basadas en los mensajes flash
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          Swal.fire({
            title: "{{ '¡Éxito!' if category == 'success' else '¡Error!' }}",
            text: "{{ message }}",
            icon: "{{ category }}",
            confirmButtonText: 'Aceptar'
          });
        {% endfor %}
      {% endif %}
    {% endwith %}
  });
</script>

{% endblock %}
