{% extends "layout.html" %}
{% block title %}
    Registrar Usuario
{% endblock %}
{% block content %}

<form action="{{ url_for('personal.registrar_usuario') }}" method="POST" class="h-full gap-8 grid grid-cols-4">
  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
  
  {% for campo in campos %}
    <div>
      <label for="{{ campo.name }}" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{ campo.label }}</label>
      {% if campo.type == 'textarea' %}
        <textarea
          id="{{ campo.name }}"
          name="{{ campo.name }}"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          placeholder="{{ campo.label }}"
          {% if campo.required %} required {% endif %}
        ></textarea>
      {% elif campo.type == 'select' %}
        <select
          id="{{ campo.name }}"
          name="{{ campo.name }}"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          {% if campo.required %} required {% endif %}
        >
          {% if campo.name == 'subdivision_cargo' %}
            <!-- Las opciones se llenarán dinámicamente con JavaScript -->
          {% else %}
            {% for option in campo.options %}
              {% if campo.name == 'area_id' %}
                <option value="{{ option[0] }}">{{ option[1] }}</option>
              {% else %}
                <option value="{{ option }}">{{ option }}</option>
              {% endif %}
            {% endfor %}
          {% endif %}
        </select>
      {% else %}
        <input
          type="{{ campo.type }}"
          id="{{ campo.name }}"
          name="{{ campo.name }}"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          placeholder="{{ campo.label }}"
          {% if campo.required %} required {% endif %}
        />
      {% endif %}
    </div>
  {% endfor %}
  <button
    type="submit"
    class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
  >
    Registrar Usuario
  </button>
</form>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
  document.addEventListener('DOMContentLoaded', function() {
    const cargoSelect = document.getElementById('cargo');
    const subdivisionCargoSelect = document.getElementById('subdivision_cargo');

    const subdivisiones = {
      'Investigador': ['Asistente', 'Adjunto', 'Independiente', 'Principal', 'Superior'],
      'CPA': ['Profesional Principal', 'Profesional Adjunto', 'Profesional Asistente'],
      'Técnico': ['Profesional', 'Asociado', 'Asistente', 'Auxiliar'],
      'Administrativo': ['ART 9', 'Ley 10430']
    };

    function updateSubdivisionCargoOptions() {
      const selectedCargo = cargoSelect.value;
      const options = subdivisiones[selectedCargo] || [];
      subdivisionCargoSelect.innerHTML = '';

      options.forEach(function(option) {
        const optionElement = document.createElement('option');
        optionElement.value = option;
        optionElement.textContent = option;
        subdivisionCargoSelect.appendChild(optionElement);
      });
    }

    cargoSelect.addEventListener('change', updateSubdivisionCargoOptions);

    // Inicializar las opciones de subdivisión de cargo al cargar la página
    updateSubdivisionCargoOptions();
  });
</script>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    // Mostrar alertas basadas en los mensajes flash
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          Swal.fire({
            title: "{{ '¡Éxito!' if category == 'success' else '¡Error!' }}",
            text: "{{ message }}",
            icon: "{{ category }}",
            confirmButtonText: 'Aceptar'
          });
        {% endfor %}
      {% endif %}
    {% endwith %}
  });
</script>

{% endblock %}