{% extends 'layout.html' %}
{% block title %}Nueva Distribución{% endblock %}
{% block content %}
    <form class="px-4" method="POST" action="{{ url_for('contable.crear_distribucion', id = id_legajo) }}">
        {{ form.hidden_tag() }}

        <h2 class="text-lg font-bold mb-4">Crear Nueva Distribución</h2>

        <div class="mb-4">
            <label for="monto_a_distribuir" class="block text-sm font-medium text-gray-700">Monto a total a distribuir</label>
            {{ form.monto_a_distribuir(class_='block w-full border border-gray-300 rounded py-2 px-3', placeholder="Ingrese el monto a distribuir") }}
            {% for error in form.monto_a_distribuir.errors %}
                <p class="text-red-500 text-sm">{{ error }}</p>
            {% endfor %}
        </div>

        <div class="mb-4 relative">
            <label for="porcentaje_comisiones" class="block text-sm font-medium text-gray-700">
                Porcentaje de Comisiones que se le descontará al monto total
            </label>
            <div class="relative">
                {{ form.porcentaje_comisiones(
                    class_='block w-full border border-gray-300 rounded py-2 pl-3 pr-10', 
                    placeholder="Ingrese el porcentaje de comisiones", 
                    value=19
                ) }}
                <span class="absolute top-0 bottom-0 right-3 flex items-center text-gray-1000 pointer-events-none">
                    %
                </span>
            </div>
            {% for error in form.porcentaje_comisiones.errors %}
                <p class="text-red-500 text-sm">{{ error }}</p>
            {% endfor %}
        </div>
        

        <div class="mb-4">
            <label for="costos" class="block text-sm font-medium text-gray-700">Costos que se le restara al monto despues de las comisiones</label>
            {{ form.costos(class_='block w-full border border-gray-300 rounded py-2 px-3', placeholder="Ingrese los costos") }}
            {% for error in form.costos.errors %}
                <p class="text-red-500 text-sm">{{ error }}</p>
            {% endfor %}
        </div>

        <div class="mb-4">
            <label for="costos_de_id" class="block text-sm font-medium text-gray-700">Área de Costos que se llevara como ingreso el monto ingresado como costo</label>
            {{ form.costos_de_id(class='block w-full border border-gray-300 rounded py-2 px-3') }}
            {% for error in form.costos_de_id.errors %} <!--Falta que se elija de manera automatica al cidepint-->
                <p class="text-red-500 text-sm">{{ error }}</p>
            {% endfor %}
        </div>

        <div class="mb-4 relative">
            <label for="porcentaje_area" class="block text-sm font-medium text-gray-700">
                Porcentaje Área para las ganancias, el resto se lo llevará el Cidepint
            </label>
            <div class="relative">
                {{ form.porcentaje_area(
                    class_='block w-full border border-gray-300 rounded py-2 pl-3 pr-10', 
                    placeholder="Ingrese el porcentaje del área", 
                    value=40
                ) }}
                <span class="absolute top-0 bottom-0 right-3 flex items-center text-gray-1000 pointer-events-none">
                    %
                </span>
            </div>
            {% for error in form.porcentaje_area.errors %}
                <p class="text-red-500 text-sm">{{ error }}</p>
            {% endfor %}
        </div>
        

        <div class="mb-4">
        <label for="ganancias_de_id" class="block text-sm font-medium text-gray-700">Área de Ganancias</label>
        <select class="block w-full border border-gray-300 rounded py-2 px-3" id="ganancias-de-id" name="ganancias_de_id">
            <option value="" disabled selected>Elija un área para las ganancias</option>
            {% for choice in form.ganancias_de_id.choices %}
                <option value="{{ choice[0] }}">{{ choice[1] }}</option>
            {% endfor %}
        </select>
        {% for error in form.ganancias_de_id.errors %}
            <p class="text-red-500 text-sm">{{ error }}</p>
        {% endfor %}
    </div>
        
        <label for="empleados_seleccionados">Seleccionar Empleados que recibiran una parte  del monto</label>
        <div id="empleados-seleccionados" 
     style="max-height: 10rem; overflow-y: auto; border: 1px solid #d1d5db; border-radius: 0.25rem; padding: 0.5rem;">
    {% for subfield in form.empleados_seleccionados %}
        <div class="flex items-center">
            <input type="checkbox" id="empleado-{{ subfield.id }}" name="{{ subfield.name }}" value="{{ subfield.data }}" 
                   {% if subfield.checked %}checked{% endif %} class="mr-2">
            <label for="empleado-{{ subfield.id }}" class="text-sm text-gray-700">{{ subfield.label.text }}</label>
        </div>
    {% endfor %}
</div>



        <div class="mb-4 relative">
            <label for="porcentaje_empleados" class="block text-sm font-medium text-gray-700">
                Porcentaje del monto que se llevarán los empleados, el resto se lo llevará el área seleccionada como ganancia
            </label>
            <div class="relative">
                {{ form.porcentaje_empleados(
                    class_='block w-full border border-gray-300 rounded py-2 pl-3 pr-10', 
                    placeholder="Ingrese el porcentaje de empleados", 
                    value=distribucion_max_id.porcentaje_empleados if distribucion_max_id is not none else ''
                ) }}
                <span class="absolute top-0 bottom-0 right-3 flex items-center pointer-events-none text-gray-1000">
                    %
                </span>
            </div>
            {% for error in form.porcentaje_empleados.errors %}
                <p class="text-red-500 text-sm">{{ error }}</p>
            {% endfor %}
        </div>
        
        <div class="mt-6">
            <button type="submit" class="w-full bg-indigo-600 text-white py-2 px-4 rounded hover:bg-indigo-700">
                Guardar Distribución
            </button>
        </div>
    </form>

<script>
    let empleadosPorArea = {{ empleados_por_area | tojson }};
    document.addEventListener('DOMContentLoaded', function () {
    
    const areaSelect = document.getElementById('ganancias-de-id');
    const empleadosCheckboxes = document.querySelectorAll('#empleados-seleccionados input[type="checkbox"]');
    empleadosCheckboxes.forEach(checkbox => {
        checkbox.checked = false;
    });
    areaSelect.addEventListener('change', function () {
        const areaId = areaSelect.value;
        empleadosCheckboxes.forEach(checkbox => {
            checkbox.checked = false;
        });
        if (!empleadosPorArea[areaId]) return;

        empleadosCheckboxes.forEach(checkbox => {
            checkbox.checked = empleadosPorArea[areaId].includes(parseInt(checkbox.value));
        });
    });
});
</script>
{% endblock %}
