{% extends "layout.html" %}

{% block title %}
    Pagina de Cotable
{% endblock %}

{% block content %}
<div class="flex justify-center items-center min-h-screen">
    <div class="text-center">
        <!-- Botón para ir a Index -->
        <form method="get" action="{{ url_for('contable.index_fondo') }}">
            <button type="submit" class="bg-green-500 hover:bg-green-600 text-white font-bold py-4 px-8 rounded-lg text-2xl w-64 h-20 mb-8 transition-all duration-300">
                Ir a Fondos
            </button>
        </form>

        <!-- Botón para ir a Legajos -->
        <form method="get" action="{{ url_for('contable.get_legajos') }}">
            <button type="submit" class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-4 px-8 rounded-lg text-2xl w-64 h-20 transition-all duration-300">
                Ir a Legajos
            </button>
        </form>
    </div>
</div>
</html>
{% endblock %}