{% extends 'layout.html' %}
{% block title %} Documentos del Legajo {% endblock %}
{% block content %}
<div class="px-4">
    <a href="{{url_for('contable.get_legajos')}}"
        class="inline-flex items-center px-3 py-4 rounded-md text-black-500 hover:bg-black-50">
        <svg fill="none" viewBox="0 0 24 24" stroke="currentColor" class="h-6 w-6">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 16l-4-4m0 0l4-4m-4 4h18">
            </path>
        </svg>
        <span class="ml-1 font-bold text-lg">Volver</span>
    </a>
    <div class="px-4 sm:px-0">
        <h3 class="text-base/7 font-semibold text-gray-900">Documentos adicionales del Legajo: {{ legajo.nro_legajo }}</h3>
    </div>
    <div class="mt-6 border-t border-gray-100">
        <dl class="divide-y divide-gray-100">
           <!-- <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
                <dt class="text-sm/6 font-medium text-gray-900">Cliente</dt>
                <dd class="mt-1 text-sm/6 text-gray-700 sm:col-span-2 sm:mt-0">{{ legajo.cliente }}</dd> 
            </div> -->
        </dl>
    </div>
</div>

<!-- Subir nuevo documento -->
<form class="px-4" method="POST" enctype="multipart/form-data" action="{{ url_for('contable.upload', legajo_id=legajo.id) }}">
    {{ form.hidden_tag() }}
    <div class="border-b border-gray-900/10 pb-12">
        <h2 class="text-base/7 font-semibold text-gray-900">Nuevo Documento</h2>
        <p class="mt-1 text-sm/6 text-gray-600">Sube un nuevo documento para este legajo.</p>
        <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
            <div class="sm:col-span-4">
                <label for="file" class="block text-sm/6 font-medium text-gray-900">Archivo</label>
                <div class="mt-2">
                    {{ form.file(class="block w-full text-sm text-gray-500 file:mr-4 file:py-2 file:px-4 file:rounded file:border file:border-gray-300 file:bg-white file:text-gray-700 hover:file:bg-gray-100") }}
                </div>
            </div>
        </div>
        <button type="submit" class="rounded-md bg-green-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-green-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-green-600">
            Subir Documento
        </button>
    </div>
</form>

<!-- Documentos existentes -->
<h3 class="px-4 mt-6 text-base/7 font-semibold text-gray-900">Documentos Existentes</h3>
<div class="px-4 w-full overflow-x-auto">
    {% if documentos %}
    <table class="w-full whitespace-no-wrap">
        <thead>
        <tr class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b bg-gray-50">
            <th class="px-4 py-3">Nombre</th>
            <th class="px-4 py-3">Acciones</th>
        </tr>
        </thead>
        <tbody class="bg-white divide-y">
        {% for documento in documentos %}
        <tr class="text-gray-700">
            <td class="px-4 py-3 text-sm">{{ documento.nombre_documento }}</td>
            <td class="px-4 py-3">
                <div class="flex items-center justify-left space-x-4">
                <!-- Descargar -->
                <a href="{{ url_for('contable.download', documento_id=documento.id) }}" class="text-blue-600 hover:underline">
                    <svg viewBox="0 0 384 512" class="size-5 shrink-0 text-indigo-600 hover:text-indigo-500" fill="currentColor" aria-hidden="true" data-slot="icon">
                        <path d="M320 464c8.8 0 16-7.2 16-16l0-288-80 0c-17.7 0-32-14.3-32-32l0-80L64 48c-8.8 0-16 7.2-16 16l0 384c0 8.8 7.2 16 16 16l256 0zM0 64C0 28.7 28.7 0 64 0L229.5 0c17 0 33.3 6.7 45.3 18.7l90.5 90.5c12 12 18.7 28.3 18.7 45.3L384 448c0 35.3-28.7 64-64 64L64 512c-35.3 0-64-28.7-64-64L0 64z"/>
                    </svg>
                </a>
                <button data-id="{{ documento.id }}"
                class="open-modal-btn px-2 py-2 text-sm font-medium leading-5 text-black-600 rounded-lg focus:outline-none focus:shadow-outline-gray"
                aria-label="Borrar"
                >
                <svg
                    class="w-5 h-5"
                    aria-hidden="true"
                    fill="currentColor"
                    viewBox="0 0 20 20"
                >
                    <path
                    fill-rule="evenodd"
                    d="M9 2a1 1 0 00-.894.553L7.382 4H4a1 1 0 000 2v10a2 2 0 002 2h8a2 2 0 002-2V6a1 1 0 100-2h-3.382l-.724-1.447A1 1 0 0011 2H9zM7 8a1 1 0 012 0v6a1 1 0 11-2 0V8zm5-1a1 1 0 00-1 1v6a1 1 0 102 0V8a1 1 0 00-1-1z"
                    clip-rule="evenodd"
                    ></path>
                </svg>
            </button>
                <!--
                <form method="POST" action="{{ url_for('contable.delete_document') }}" style="display:inline;">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    <input type="hidden" name="documento_id" value="{{ documento.id }}">
                    <button type="submit" class="text-red-600 hover:underline" onclick="return confirm('¿Estás seguro de que deseas eliminar este documento?');">
                                                <svg
                            class="w-5 h-5"
                            aria-hidden="true"
                            fill="currentColor"
                            viewBox="0 0 20 20"
                        >
                            <path
                            fill-rule="evenodd"
                            d="M9 2a1 1 0 00-.894.553L7.382 4H4a1 1 0 000 2v10a2 2 0 002 2h8a2 2 0 002-2V6a1 1 0 100-2h-3.382l-.724-1.447A1 1 0 0011 2H9zM7 8a1 1 0 012 0v6a1 1 0 11-2 0V8zm5-1a1 1 0 00-1 1v6a1 1 0 102 0V8a1 1 0 00-1-1z"
                            clip-rule="evenodd"
                            ></path>
                        </svg>
                    </button>
                </form>
                -->
            </div>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <form id="modals" method="POST" action="{{ url_for('contable.delete_document') }}">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <div class="modal hidden" id="modal-borrar" data-id="1" aria-labelledby="modal-title" role="dialog" aria-modal="true">
                <div class="fixed inset-0 bg-gray-500/75 transition-opacity" aria-hidden="true"></div>
                    <div class="fixed inset-0 z-10 w-screen overflow-y-auto">
                        <div class="flex min-h-full items-end justify-center p-4 text-center sm:items-center sm:p-0">
                            <div class="relative transform overflow-hidden rounded-lg bg-white text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-lg">
                                <div class="bg-white px-4 pb-4 pt-5 sm:p-6 sm:pb-4">
                                    <h3 class="text-base font-semibold text-gray-900" id="modal-title">¿Eliminar documento?</h3>
                                        <input type="hidden" id="documento_id" name="documento_id" value="" />
                                </div>
                                <div class="bg-gray-50 px-4 py-3 sm:flex sm:flex-row-reverse sm:px-6">
                                <button type="submit" class="px-3 py-2 text-white bg-green-600 rounded hover:bg-green-500 sm:ml-3 sm:w-auto">Confirmar</button>
                                <button type="button" class="close-modal px-3 py-2 text-white bg-red-600 rounded hover:bg-red-500 sm:ml-3 sm:w-auto">Cancelar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </form>
    {% else %}
    <p class="text-sm text-gray-600">No hay documentos asociados a este legajo.</p>
    {% endif %}
</div>
<script>
    // Manejo de modales dinámicos
document.addEventListener('DOMContentLoaded', () => {
    // Selecciona todos los botones para abrir modales
    const openModalButtons = document.querySelectorAll('.open-modal-btn');
    
    // Función para abrir el modal correspondiente
    const openModal = (id) => {
        const modal = document.querySelector(`#modal-borrar`);
        document.querySelector('#documento_id').value = id;
        modal.classList.remove('hidden'); // Muestra el modal
    };
    
    // Asocia evento de clic a los botones de abrir modal
    openModalButtons.forEach((button) => {
        button.addEventListener('click', () => {
            const id = button.getAttribute('data-id');
            openModal(id);
        });
    });
    
    document.querySelector('.close-modal').addEventListener('click', () => {
        const modal = document.querySelector(`#modal-borrar`);
        modal.classList.add('hidden');
    });
    
    // Cierra el modal al hacer clic fuera del contenido
    document.querySelectorAll('.modal').forEach((modal) => {
        modal.addEventListener('click', (event) => {
        if (event.target === modal) {
            const id = modal.getAttribute('data-id');
            closeModal(id);
        }
        });
    });
    });  
</script>
{% endblock %}