{% extends "layout.html" %}
{% block title %}
    Pagina de Cotable
{% endblock %}
{% block content %}
<div class="px-4 py-3 mx-8 mt-2 mb-8 bg-white rounded-lg shadow-md animate-fade-right animate-once">
<h1>Contable </h1>
<div class="flex flex-wrap items-end mb-1">
    {% if 'SinDistribucion' in request.args.getlist('filtro') %}
    <a href="{{ url_for('contable.get_legajos') }}" 
       class="px-4 py-2 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-blue-600 border border-transparent rounded-lg active:bg-blue-600 hover:bg-blue-700 focus:outline-none focus:shadow-outline-blue">
        Ver todos los legajos
    </a>
    {% else %}
    <a href="{{ url_for('contable.get_legajos', filtro='SinDistribucion') }}" 
       class="px-4 py-2 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-blue-600 border border-transparent rounded-lg active:bg-blue-600 hover:bg-blue-700 focus:outline-none focus:shadow-outline-blue">
        Ver solo legajos sin distribución
    </a>
    {% endif %}
</div>
<div class="w-full overflow-x-auto">
    <table class="w-full whitespace-no-wrap mt-2">
        <thead>
        <tr
            class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b bg-gray-50"
        >
        <th class="px-4 py">Número de legajo</th>
        <th class="px-4 py-3">Cliente</th>
        <th class="px-4 py-3">Presupuesto (PDF)</th>
        <th class="px-4 py-3">Orden de compra (PDF)</th>
        <th class="px-4 py-3">Orden de facturación (PDF)</th>
        <th class="px-4 py-3">Factura (PDF)</th>
        <th class="px-4 py-3">Documento asociado (PDF, opcional)</th>
        <th class="px-4 py-3">Recibo</th>
        <th class="px-4 py-3">Distribución/es</th>
        </tr>
        </thead>
        <tbody
        class="bg-white divide-y"
        >
        {% for legajo in legajos %}
            <tr class="text-gray-700">
                <td class="px-4 py-3">
                <div class="flex items-center text-sm">
                    <div>
                        <p class="font-semibold">{{ legajo.nro_legajo }}</p>
                    </div>
                </div>
                </td>
                <td class="px-4 py-3 text-sm">
                    {%if legajo.cliente %}
                        {{ legajo.cliente.nombre }}
                    {% else %}
                        No disponible
                    {% endif %}
                </td>
                <td class="px-4 py-3 text-sm">
                    {% if legajo.documentos['Presupuesto CIDEPINT'] %}
                    <a href="{{ url_for('contable.download', documento_id=legajo.documentos['Presupuesto CIDEPINT'].id) }}" 
                    class="flex items-center justify-center px-2 py-2 text-sm font-medium leading-5 text-black-600 rounded-lg focus:outline-none focus:shadow-outline-gray">
                        <svg viewBox="0 0 384 512" class="size-5 shrink-0 text-indigo-600 hover:text-indigo-500" fill="currentColor" aria-hidden="true" data-slot="icon">
                            <path d="M320 464c8.8 0 16-7.2 16-16l0-288-80 0c-17.7 0-32-14.3-32-32l0-80L64 48c-8.8 0-16 7.2-16 16l0 384c0 8.8 7.2 16 16 16l256 0zM0 64C0 28.7 28.7 0 64 0L229.5 0c17 0 33.3 6.7 45.3 18.7l90.5 90.5c12 12 18.7 28.3 18.7 45.3L384 448c0 35.3-28.7 64-64 64L64 512c-35.3 0-64-28.7-64-64L0 64z"/>
                        </svg>
                    </a>
                    {% else %}
                    No disponible
                    {% endif %}
                </td>
                <td class="px-4 py-3 text-sm">
                    {% if legajo.documentos['Orden de compra'] %}
                    <a href="{{ url_for('contable.download', documento_id=legajo.documentos['Orden de compra'].id) }}" 
                    class="flex items-center justify-center px-2 py-2 text-sm font-medium leading-5 text-black-600 rounded-lg focus:outline-none focus:shadow-outline-gray">
                       <svg viewBox="0 0 384 512" class="size-5 shrink-0 text-indigo-600 hover:text-indigo-500" fill="currentColor" aria-hidden="true" data-slot="icon">
                        <path d="M320 464c8.8 0 16-7.2 16-16l0-288-80 0c-17.7 0-32-14.3-32-32l0-80L64 48c-8.8 0-16 7.2-16 16l0 384c0 8.8 7.2 16 16 16l256 0zM0 64C0 28.7 28.7 0 64 0L229.5 0c17 0 33.3 6.7 45.3 18.7l90.5 90.5c12 12 18.7 28.3 18.7 45.3L384 448c0 35.3-28.7 64-64 64L64 512c-35.3 0-64-28.7-64-64L0 64z"/>
                      </svg>
                    </a>
                    {% else %}
                    No disponible
                    {% endif %}
                </td>
                <td class="px-4 py-3 text-sm flex justify-center {% if legajo.documentos['orden_facturacion'] %}bg-green-600{% else %}bg-red-600{% endif %} bg-opacity-80">
                    {% if legajo.documentos['orden_facturacion'] %}
                    <a href="{{ url_for('contable.download', documento_id=legajo.documentos['orden_facturacion'].id) }}" 
                    class="px-2 py-2 text-sm font-medium leading-5 text-black-600 rounded-lg focus:outline-none focus:shadow-outline-gray">
                       <svg viewBox="0 0 384 512" class="size-5 shrink-0 text-indigo-700 hover:text-indigo-600" fill="currentColor" aria-hidden="true" data-slot="icon">
                        <path d="M320 464c8.8 0 16-7.2 16-16l0-288-80 0c-17.7 0-32-14.3-32-32l0-80L64 48c-8.8 0-16 7.2-16 16l0 384c0 8.8 7.2 16 16 16l256 0zM0 64C0 28.7 28.7 0 64 0L229.5 0c17 0 33.3 6.7 45.3 18.7l90.5 90.5c12 12 18.7 28.3 18.7 45.3L384 448c0 35.3-28.7 64-64 64L64 512c-35.3 0-64-28.7-64-64L0 64z"/>
                      </svg>
                    </a>
                    <button data-id="{{ legajo.documentos['orden_facturacion'].id }}"
                        class="open-modal-btn flex items-center justify-between px-2 py-2 text-sm font-medium leading-5 text-black-600 rounded-lg focus:outline-none focus:shadow-outline-gray"
                        aria-label="Borrar"
                        >
                        <svg
                            class="w-5 h-5"
                            aria-hidden="true"
                            fill="currentColor"
                            viewBox="0 0 20 20"
                        >
                            <path
                            fill-rule="evenodd"
                            d="M9 2a1 1 0 00-.894.553L7.382 4H4a1 1 0 000 2v10a2 2 0 002 2h8a2 2 0 002-2V6a1 1 0 100-2h-3.382l-.724-1.447A1 1 0 0011 2H9zM7 8a1 1 0 012 0v6a1 1 0 11-2 0V8zm5-1a1 1 0 00-1 1v6a1 1 0 102 0V8a1 1 0 00-1-1z"
                            clip-rule="evenodd"
                            ></path>
                        </svg>
                    </button>
                    {% else %}
                    <form method="POST" enctype="multipart/form-data" action="{{ url_for('contable.upload') }}"> 
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                        <input type="hidden" name="legajo_id" value="{{ legajo.id }}">
                        <input type="hidden" name="tipo" value="orden_facturacion">
                        <label for="archivo" class="cursor-pointer">
                          <svg class="px-4 aspect-square w-14 h-14 rounded-lg object-cover group-hover:opacity-75 xl:aspect-[7/7]"
                            aria-hidden="true"
                            fill="currentColor"
                            viewBox="0 0 448 512"
                            >
                            <path
                          fill-rule="evenodd"
                          d="M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32l0 144L48 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l144 0 0 144c0 17.7 14.3 32 32 32s32-14.3 32-32l0-144 144 0c17.7 0 32-14.3 32-32s-14.3-32-32-32l-144 0 0-144z"
                          clip-rule="evenodd"
                            ></path>
                          </svg>
                        </label>
                        <input id="archivo" name="file" type="file" class="hidden" onchange="this.form.submit()">
                      </form>
                    {% endif %}
                     
                </td>
                <td class="px-4 py-3 text-sm">
                    {% if legajo.documentos['Factura'] %}
                    <a href="{{ url_for('contable.download', documento_id=legajo.documentos['Factura'].id) }}" 
                    class="flex items-center justify-center px-2 py-2 text-sm font-medium leading-5 text-black-600 rounded-lg focus:outline-none focus:shadow-outline-gray">
                    <svg viewBox="0 0 384 512" class="size-5 shrink-0 text-indigo-600 hover:text-indigo-500" fill="currentColor" aria-hidden="true" data-slot="icon">
                        <path d="M320 464c8.8 0 16-7.2 16-16l0-288-80 0c-17.7 0-32-14.3-32-32l0-80L64 48c-8.8 0-16 7.2-16 16l0 384c0 8.8 7.2 16 16 16l256 0zM0 64C0 28.7 28.7 0 64 0L229.5 0c17 0 33.3 6.7 45.3 18.7l90.5 90.5c12 12 18.7 28.3 18.7 45.3L384 448c0 35.3-28.7 64-64 64L64 512c-35.3 0-64-28.7-64-64L0 64z"/>
                    </svg>
                    </a>
                    {% else %}
                    No disponible
                    {% endif %}
                </td>
                <td class="px-4 py-3 text-sm">
                    <div class="flex items-center space-x-4">
                    <a href="{{ url_for('contable.get_documentosAdd',id=legajo.id) }}"
                        class="flex items-center justify-between px-2 py-2 text-sm font-medium leading-5 text-black-600 rounded-lg focus:outline-none focus:shadow-outline-gray"
                        aria-label="Ver"
                        >
                            <svg
                                class="w-5 h-5"
                                aria-hidden="true"
                                fill="currentColor"
                                viewBox="0 0 24 24"
                            >
                                <path
                                d="M12 4.5C7.305 4.5 3.135 7.305 1.5 12c1.635 4.695 5.805 7.5 10.5 7.5s8.865-2.805 10.5-7.5C20.865 7.305 16.695 4.5 12 4.5zm0 12c-2.485 0-4.5-2.015-4.5-4.5s2.015-4.5 4.5-4.5 4.5 2.015 4.5 4.5-2.015 4.5-4.5 4.5zm0-7.5c-1.655 0-3 1.345-3 3s1.345 3 3 3 3-1.345 3-3-1.345-3-3-3z"
                                ></path>
                            </svg>
                        </a>
                        <a href="{{ url_for('contable.get_documentosAdd',id=legajo.id) }}"
                        class="flex items-center justify-between px-2 py-2 text-sm font-medium leading-5 text-black-600 rounded-lg focus:outline-none focus:shadow-outline-gray"
                        aria-label="Ver"
                        >
                        <svg class="px-4 aspect-square w-14 h-14 rounded-lg object-cover group-hover:opacity-75 xl:aspect-[7/7]"
                            aria-hidden="true"
                            fill="currentColor"
                            viewBox="0 0 448 512"
                            >
                            <path
                          fill-rule="evenodd"
                          d="M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32l0 144L48 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l144 0 0 144c0 17.7 14.3 32 32 32s32-14.3 32-32l0-144 144 0c17.7 0 32-14.3 32-32s-14.3-32-32-32l-144 0 0-144z"
                          clip-rule="evenodd"
                            ></path>
                          </svg>
                        </a>
                    </div>
                    </td>
                <td class="px-4 py-3 text-sm">
                    {% if legajo.documentos['Recibo'] %}
                    <a href="{{ url_for('contable.download', documento_id=legajo.documentos['Recibo'].id) }}" 
                       class="bg-blue-600 text-white px-4 py-2 rounded hover:bg-blue-500">
                        Descargar
                    </a>
                    {% else %}
                    No disponible
                    {% endif %}
                </td>
                <td class="px-4 py-3 text-sm {% if legajo.distribuciones %}bg-green-600{% else %}bg-red-600{% endif %}" >
                    <a href="{{ url_for('contable.get_distribuciones',id=legajo.id) }}"
                        class="flex items-center justify-between px-2 py-2 text-sm font-medium leading-5 text-black-600 rounded-lg focus:outline-none focus:shadow-outline-gray"
                        aria-label="Ver"
                        >
                            <svg
                                class="w-5 h-5"
                                aria-hidden="true"
                                fill="currentColor"
                                viewBox="0 0 24 24"
                            >
                                <path
                                d="M12 4.5C7.305 4.5 3.135 7.305 1.5 12c1.635 4.695 5.805 7.5 10.5 7.5s8.865-2.805 10.5-7.5C20.865 7.305 16.695 4.5 12 4.5zm0 12c-2.485 0-4.5-2.015-4.5-4.5s2.015-4.5 4.5-4.5 4.5 2.015 4.5 4.5-2.015 4.5-4.5 4.5zm0-7.5c-1.655 0-3 1.345-3 3s1.345 3 3 3 3-1.345 3-3-1.345-3-3-3z"
                                ></path>
                            </svg>
                        </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
    <form id="modals" method="POST" action="{{ url_for('contable.delete_document') }}">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <div class="modal hidden" id="modal-borrar" data-id="1" aria-labelledby="modal-title" role="dialog" aria-modal="true">
                <div class="fixed inset-0 bg-gray-500/75 transition-opacity" aria-hidden="true"></div>
                    <div class="fixed inset-0 z-10 w-screen overflow-y-auto">
                        <div class="flex min-h-full items-end justify-center p-4 text-center sm:items-center sm:p-0">
                            <div class="relative transform overflow-hidden rounded-lg bg-white text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-lg">
                                <div class="bg-white px-4 pb-4 pt-5 sm:p-6 sm:pb-4">
                                    <h3 class="text-base font-semibold text-gray-900" id="modal-title">¿Eliminar documento?</h3>
                                        <input type="hidden" id="documento_id" name="documento_id" value="" />
                                </div>
                                <div class="bg-gray-50 px-4 py-3 sm:flex sm:flex-row-reverse sm:px-6">
                                <button type="submit" class="px-3 py-2 text-white bg-green-600 rounded hover:bg-green-500 sm:ml-3 sm:w-auto">Confirmar</button>
                                <button type="button" class="close-modal px-3 py-2 text-white bg-red-600 rounded hover:bg-red-500 sm:ml-3 sm:w-auto">Cancelar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </form>
<script>
    // Manejo de modales dinámicos
document.addEventListener('DOMContentLoaded', () => {
    // Selecciona todos los botones para abrir modales
    const openModalButtons = document.querySelectorAll('.open-modal-btn');
    
    // Función para abrir el modal correspondiente
    const openModal = (id) => {
        const modal = document.querySelector(`#modal-borrar`);
        document.querySelector('#documento_id').value = id;
        modal.classList.remove('hidden'); // Muestra el modal
    };
    
    // Asocia evento de clic a los botones de abrir modal
    openModalButtons.forEach((button) => {
        button.addEventListener('click', () => {
            const id = button.getAttribute('data-id');
            openModal(id);
        });
    });
    
    document.querySelector('.close-modal').addEventListener('click', () => {
        const modal = document.querySelector(`#modal-borrar`);
        modal.classList.add('hidden');
    });
    
    // Cierra el modal al hacer clic fuera del contenido
    document.querySelectorAll('.modal').forEach((modal) => {
        modal.addEventListener('click', (event) => {
        if (event.target === modal) {
            const id = modal.getAttribute('data-id');
            closeModal(id);
        }
        });
    });
    });  
</script>
{% endblock %}