{% extends "layout.html" %}
{% block title %}
    Pagina de Cotable
{% endblock %}
{% block content %}
<h1>Contable </h1>
<div class="flex flex-wrap items-end mb-1">
<a href="{{url_for('contable.get_crear_fondo')}}" 
class="px-4 py-2 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-green-600 border border-transparent rounded-lg active:bg-green-600 hover:bg-green-700 focus:outline-none focus:shadow-outline-green">
Crear un nuevo Fondo</a>
</div>

<div class="w-full overflow-x-auto">
    <table class="w-full whitespace-no-wrap">
        <thead>
        <tr
            class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b bg-gray-50"
        >
        <th class="px-4 py">Número de legajo</th>
        <th class="px-4 py-3">Cliente</th>
        <th class="px-4 py-3">Presupuesto (PDF)</th>
        <th class="px-4 py-3">Orden de compra (PDF)</th>
        <th class="px-4 py-3">Orden de facturación (PDF)</th>
        <th class="px-4 py-3">Factura (PDF)</th>
        <th class="px-4 py-3">Documento asociado (PDF, opcional)</th>
        <th class="px-4 py-3">Recibo</th>
        <th class="px-4 py-3">Distribución/es</th>
        </tr>
        </thead>
        <tbody
        class="bg-white divide-y"
        >
        {% for legajo in legajos %}
            <tr class="text-gray-700">
                <td class="px-4 py-3">
                <div class="flex items-center text-sm">
                    <div>
                        <p class="font-semibold">{{ legajo.nro_legajo }}</p>
                    </div>
                </div>
                </td>
                <td class="px-4 py-3 text-sm">
                    Cliente
                </td>
                <td class="px-4 py-3 text-sm">
                    Presupuesto PDf
                </td>
                <td class="px-4 py-3 text-sm">
                    Orden de compra PDF
                </td>
                <td class="px-4 py-3 text-sm">
                    <form method="POST" enctype="multipart/form-data" action="{{ url_for('contable.upload') }}">
                        {{ forms[legajo.id].hidden_tag() }}
                        <div class="flex items-center gap-2">
                            {{ forms[legajo.id].file(class="block w-full text-sm text-gray-500 file:mr-4 file:py-2 file:px-4 file:rounded file:border file:border-gray-300 file:text-sm file:font-semibold file:bg-white file:text-gray-700 hover:file:bg-gray-100") }}
                            {{ forms[legajo.id].submit(class="bg-blue-600 text-white text-sm px-4 py-2 rounded hover:bg-blue-500") }}
                        </div>
                    </form>
                </td>
                <td class="px-4 py-3 text-sm">
                    Factura PDF
                </td>
                <td class="px-4 py-3 text-sm">
                    Documento asociado PDF
                </td>
                <td class="px-4 py-3 text-sm">
                    Recibo
                </td>
                <td class="px-4 py-3 text-sm">
                    <a href="{{ url_for('contable.get_distribuciones',id=legajo.id) }}"
                        class="flex items-center justify-between px-2 py-2 text-sm font-medium leading-5 text-black-600 rounded-lg focus:outline-none focus:shadow-outline-gray"
                        aria-label="Ver"
                        >
                            <svg
                                class="w-5 h-5"
                                aria-hidden="true"
                                fill="currentColor"
                                viewBox="0 0 24 24"
                            >
                                <path
                                d="M12 4.5C7.305 4.5 3.135 7.305 1.5 12c1.635 4.695 5.805 7.5 10.5 7.5s8.865-2.805 10.5-7.5C20.865 7.305 16.695 4.5 12 4.5zm0 12c-2.485 0-4.5-2.015-4.5-4.5s2.015-4.5 4.5-4.5 4.5 2.015 4.5 4.5-2.015 4.5-4.5 4.5zm0-7.5c-1.655 0-3 1.345-3 3s1.345 3 3 3 3-1.345 3-3-1.345-3-3-3z"
                                ></path>
                            </svg>
                        </a>
                </td>
            </tr>
            <!--    __tablename__ = 'legajo'
    id = db.Column(db.Integer, primary_key=True)
    nro_legajo = db.Column(db.String(100))
    fecha_entrada = db.Column(db.DateTime)
    objetivo = db.Column(db.String(100))
    es_juridico = db.Column(db.Boolean)
    necesita_facturacion = db.Column(db.Boolean)
    motivo_cancelacion = db.Column(db.String(100), nullable=True)
    #parte_del_proceso_cancelado = 
    
    cliente = db.relationship('Cliente', back_populates='legajo', uselist=False)
    
    resultado_encuesta = db.relationship('ResultadoEncuesta', back_populates='legajo')
    mail = db.relationship('Mail', back_populates='legajo')
    muestras = db.relationship('Muestra', back_populates='legajo')
    presupuesto_cidepint = db.relationship('Presupuesto', back_populates='legajo')
    documento_id = db.Column(db.Integer, db.ForeignKey('documento.id'), nullable=True)
    documento = db.relationship('Documento', back_populates='legajos')-->
        {% endfor %}
{% endblock %}