{% extends 'layout.html' %}
{% block title %}Distribuciones del Legajo{% endblock %}
{% block content %}
<div class="px-4">
    <div class="px-4 sm:px-0">
        <h3 class="text-base/7 font-semibold text-gray-900">Distribuciones del legajo {{ legajo.nro_legajo }}</h3>
    </div>
</div>

<div class="mt-6">
    <a href="{{ url_for('contable.get_crear_distribucion', id=legajo.id) }}"
       class="rounded-md bg-blue-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-blue-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-600">
        Crear Nueva Distribución
    </a>
</div>

<h3 class="mt-8">Distribuciones Pasadas</h3>
<div class="w-full overflow-x-auto mt-4">
    {% if distribuciones %}
    <table class="w-full whitespace-no-wrap">
        <thead>
        <tr class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b bg-gray-50">
            <th class="px-4 py-3">ID</th>
            <th class="px-4 py-3">Porc. Área</th>
            <th class="px-4 py-3">Porc. Empleados</th>
            <th class="px-4 py-3">Porc. Comisiones</th>
            <th class="px-4 py-3">Monto Distribuir</th>
            <th class="px-4 py-3">Costos</th>
            <th class="px-4 py-3">Area de Ganancias</th>
            <th class="px-4 py-3">Area de Costos</th>
            <th class="px-4 py-3">Empleados</th>
            <th class="px-4 py-3">Acciones</th>
        </tr>
        </thead>
        <tbody class="bg-white divide-y">
        {% for distribucion in distribuciones %}
            <tr class="text-gray-700">
                <td class="px-4 py-3 text-sm">{{ distribucion.id }}</td>
                <td class="px-4 py-3 text-sm">{{ distribucion.porcentaje_area }}%</td>
                <td class="px-4 py-3 text-sm">{{ distribucion.porcentaje_empleados }}%</td>
                <td class="px-4 py-3 text-sm">{{ distribucion.porcentaje_comisiones }}%</td>
                <td class="px-4 py-3 text-sm">${{ distribucion.monto_a_distribuir }}</td>
                <td class="px-4 py-3 text-sm">${{ distribucion.costos }}</td>
                <td class="px-4 py-3 text-sm">{{ distribucion.ganancias_de.nombre }}</td>
                <td class="px-4 py-3 text-sm">{{ distribucion.costos_de.nombre }}</td>
                <td class="px-4 py-3 text-sm">
                    {% if distribucion.empleados_asociados %}
                    
                        <ul>
                        {% for empleado in distribucion.empleados_asociados %}
                            <li>{{ empleado.empleado.nombre }} {{ empleado.empleado.apellido }}</li>
                        {% endfor %}
                        </ul>
                    {% else %}
                        <p>No hay empleados asignados</p>
                    {% endif %}
                </td>
                <td class="px-4 py-3 text-sm">
                <form action="{{ url_for('contable.delete_distribucion', id=distribucion.id) }}" method="post" onsubmit="return confirm('¿Está seguro que desea eliminar esta distribución?');">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    <button type="submit" class="text-red-600 hover:text-red-900">Eliminar</button>
                </form>

                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p class="text-gray-600 mt-4">No hay distribuciones registradas para este legajo.</p>
    {% endif %}
</div>
{% endblock %}
